.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.divButton {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.button {
  width: 4rem;
  height: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}